<!DOCTYPE html>
<html>
<head>

<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		crossorigin="anonymous">
	{% block stylesheets %}
	
	{% endblock %}

</head>

<body>
	<main class="container mt-5">
    	{% block body %}
    	
    
    	{% endblock %}
    
    	{% block javascripts %}
    	{% endblock %}
	</main>
</body>

</html>